:root {
  --color-nav-back: #efefef;
  --color-links: #333;
  --color-title: #f13c6e;
  --color-light-gray: #efefef;
  --color-black: #000;
  --color-white: #fff;
}

a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

.header-top {
  background-color: var(--color-nav-back);
  text-align: center;
  padding: 16px 0;
}

.header-top a {
  margin-left: 15px;
  font-size: 14px;
  color: var(--color-links);
}

.section-main {
  width: 1100px;
  margin: 0 auto;
}

.header-main {
  border: 1px solid var(--color-light-gray);
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.logo {
  float: left;
  margin-top: 20px;
}

.logo-text {
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
  font-size: 36px;
  color: var(--color-title);
}

.header-info {
  float: right;
  margin-top: 52px;
}

.link-button {
  display: inline-block;
  width: 170px;
  border: 2px solid var(--color-title);
  border-radius: 40px;
  text-align: center;
  padding: 12px 0;
  margin-left: 40px;
  font-size: 14px;
}

.header-bottom {
  text-align: center;
}

.header-bottom a {
  display: inline-block;
  margin: 30px 20px;
}

.title-section {
  background-image: url(../images/background.png);
  height: 604px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  color: var(--color-white);
  padding-top: 192px;
  padding-bottom: 50px;
  margin: 0;
}

.title-info {
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.42;
  padding-bottom: 25px;
}

.title-section a {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  margin: 0;
}

.section-about {
  background-color: var(--color-light-gray);
}

.chair-price {
  display: inline-block;
  background-color: var(--color-white);
  text-align: center;
  width: 240px;
  margin-top: 38px;
  margin-right: 30px;
  margin-left: 0px;
}

h2 {
  margin: 0;
  padding-top: 80px;
}
